<% if (!part) layout('_layout/page') %>
<% block('title', 'Admin'); %>
<h1><%=blocks.title%></h1>

<form name="access-log">
<div class="container-fluid">
  <table class="table admin-access">
    <thead>
      <tr>
        <th>
          <select class="form-control">
            <option></option>
            <option>GET</option>
            <option>POST</option>
            <option>PUT</option>
            <option>DELETE</option>
          </select>
        </th>
        <th>
          <input type="text" name="filter-url" class="form-control" placeholder="url">
        </th>
        <th>
          <input type="text" name="filter-user" class="form-control" placeholder="username">
        </th>
        <th>
          <input type="text" name="filter-session" class="form-control" placeholder="session">
        </th>
        <th>
          <input type="text" name="filter-ip" class="form-control" placeholder="ip">
        </th>
        <th>
          <input type="text" name="filter-time" class="form-control" placeholder="date">
        </th>
        <th>
          <input type="text" name="filter-body" class="form-control" placeholder="body">
        </th>
      </tr>
    </thead>
    <tbody id="access">
      <%requests.forEach(function(req, num) {%>
      <tr>
        <td>GET</td>
        <td><a href="<%=req.url%>" spa="none"><%=req.url%></a></td>
        <td><%=req.user%></td>
        <td><%=req.session%></td>
        <td><%=req.ip%></td>
        <td><%=moment(req.created).format('YYYY-MM-DD HH:mm:ss')%></td>
        <td><%req.body%></td>
      </tr>
    <%});%>
    </tbody>
  </table>
</div>
</form>

<script>
  $('input').keyup(function(e) {
    var filter = document.forms['access-log'];
    var filterOptions = {};
    try {
      var fUrl = filter['filter-url'].value;
      if (fUrl) {
        new RegExp(fUrl);
        filterOptions.url = fUrl;
      }

      var fUser = filter['filter-user'].value;
      if (fUser) {
        new RegExp(fUser);
        filterOptions.user = fUser;
      }

      var fSession = filter['filter-session'].value;
      if (fSession) {
        new RegExp(fSession);
        filterOptions.session = fSession;
      }

      //console.log(filterOptions);
      updateContainer('/admin/access', 'access', true, filterOptions);
    } catch(e) {
      console.log('Wrong regexp');
    }
  });
</script>