<li data-spa="player" data-href="/artists/{{href}}" data-title="{{title}}" data-artist="{{artist}}" data-album="{{album}}"
    data-duration="{{duration}}" data-size="{{size}}">
  <div class="track_end">{{duration}}</div>
  <div class="track_cover"><span class="fa fa-play" data-add="play"></span></div>
  <div class="track_info">
    <div>{{title}}</div>
    <div>{{artist}} - {{album}}</div>
  </div>
  <div class="clear_left"></div>
</li>