{{#each requests}}
<div class="onerow">
  <div>GET</div>
  <div><a href="{{url}}" spa="none">{{url}}</a></div>
  <div>{{user}} </div>
  <div>{{session}} </div>
  <div>{{ip}} </div>
  <div>{{created}} </div> <!--moment(req.created).format('YYYY-MM-DD HH:mm:ss')-->
  <div class="clear_left"></div>
</div>
{{/each}}